<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineJudge</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.css" />
        <link rel="stylesheet" href="~/lib/Primer/primer.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" />
        <link rel="stylesheet" href="~/lib/Primer/primer.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Head", required: false)
</head>

<body>
    <header class="Header">
        <div class="Header-item">
            <a asp-controller="Home" asp-action="Index" class="Header-link">OnlineJudge</a>
        </div>
        <div class="Header-item">
            <a asp-controller="Dashboard" asp-action="Index" class="Header-link">Dashboard</a>
        </div>
        <div class="Header-item">
            <a asp-controller="Problemset" asp-action="Index" class="Header-link">Problemset</a>
        </div>
        <div class="Header-item">
            <a asp-controller="Records" asp-action="Index" class="Header-link">Submits</a>
        </div>
        <div class="Header-item Header-item--full"></div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="Header-item">
                 <a class="Header-link" asp-controller="Users" asp-action="My">Hello, @User.Identity.Name</a>
             </div>
            <div class="Header-item">
                <a class="Header-link" asp-controller="Auth" asp-action="Logout">Log out</a>
            </div>
        }
        else
        {
            <div class="Header-item mr-0">
                <a class="Header-link" asp-controller="Auth" asp-action="Login">Log in</a>
            </div>
        }
    </header>

    <main class="container-lg clearfix mt-4">
        <section class="Subhead">
            <div class="Subhead-heading">@ViewData["Title"]</div>
            <div class="Subhead-description">
                @* Need a breadcrumb *@
            </div>
        </section>
        <section class="">
            <div class="container-fluid">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            &copy; 2021 - Semicolon.OnlineJudge
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/admin-lte/js/adminlte.js"></script>
        <script src="~/lib/font-awesome/js/all.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
        <script src="~/lib/font-awesome/js/all.min.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
