@model List<Semicolon.OnlineJudge.Models.ViewModels.Records.UploadModel>
@{
    ViewData["Title"] = "提交记录";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-condensed table-head-fixed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">题目 ID</th>
                            <th scope="col">通过率</th>
                            <th scope="col">语言</th>
                            <th scope="col">状态</th>
                            <th scope="col">提交者</th>
                            <th scope="col">提交时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var upload in Model)
                        {
                            <tr>
                                <td><a asp-controller="Judge" asp-action="Status" asp-route-id="@upload.Id">@upload.Id</a></td>
                                <td><a asp-controller="Problemset" asp-action="Details" asp-route-id="@upload.ProblemId">@upload.ProblemId</a></td>
                                <td>@upload.GetPassRate()</td>
                                <td>@upload.Language.ToString()</td>
                                <td>@upload.Status.ToString()</td>
                                <td><a asp-controller="Users" asp-action="Index" asp-route-id="@upload.AuthorId">@upload.Author</a></td>
                                <td>@upload.CreateTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
