@model List<Semicolon.OnlineJudge.Models.ViewModels.Records.UploadModel>
@{
    ViewData["Title"] = "Submit History";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-condensed table-head-fixed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Problem ID</th>
                            <th scope="col">Pass rate</th>
                            <th scope="col">Language</th>
                            <th scope="col">Status</th>
                            <th scope="col">Uploader</th>
                            <th scope="col">Submit time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var upload in Model)
                        {
                            <tr>
                                <td><a asp-controller="Judge" asp-action="Status" asp-route-id="@upload.Id">@upload.Id</a></td>
                                <td><a asp-controller="Problemset" asp-action="Details" asp-route-id="@upload.ProblemId">@upload.ProblemId</a></td>
                                <td>@upload.GetPassRate()</td>
                                <td>@upload.LanguageId</td>
                                <td>@upload.Status.ToString()</td>
                                <td><a asp-controller="Users" asp-action="Index" asp-route-id="@upload.AuthorId">@upload.Author</a></td>
                                <td>@upload.CreateTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
