@model Semicolon.OnlineJudge.Models.ViewModels.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["summaryChart"];
}

<div class="row">
    <div class="col-md-8">
        <div class="timeline">
            <div class="time-label">
                <span class="bg-blue">提交记录</span>
            </div>
            @foreach (var track in Model.Tracks)
            {
                <div style="width: 100%">
                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i> @track.CreateTime</span>
                        <h3 class="timeline-header">提交了代码</h3>

                        <div class="timeline-body">
                            <p>题目 ID: #@track.Id</p>
                            <p>状态: @track.Status</p>
                            <p>通过了 @track.GetPointStatus().Where(t => t.Status == Semicolon.OnlineJudge.Models.Judge.PointStatus.Accepted).ToList().Count / @track.GetPointStatus().Count 个测试点</p>
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-sm" asp-controller="Judge" asp-action="Status" asp-route-id="@track.Id">查看详情</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
                <i class="fa fa-user-alt"></i> 用户信息
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>@Model.User.UserName</b></h2>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-check"></i></span>提交总数：@Model.Tracks.Count</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> 电子邮件地址：@Model.User.Email</li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <img src="../../dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i>
                        查看详情
                    </a>
                </div>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
                <i class="fa fa-chart-pie"></i> 概览
            </div>
            <div class="card-body pt-0">
                <div><canvas id="summaryChart"></canvas></div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm btn-primary">查看详情</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/lib/Chart.js/Chart.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/Chart.js/Chart.min.js"></script>
    </environment>

    <script>
            @Html.Raw(chart.CreateChartCode("summaryChart"));
    </script>
}

@section Head {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/Chart.js/Chart.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/Chart.js/Chart.min.css" />
    </environment>
}
